@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');


body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}


button.btn-yellow {
  @apply text-[1rem] lg:text-[1.3rem] font-medium rounded-sm bg-brandYellow text-brandBlue hover:opacity-80
}

button.btn-gray {
  @apply text-[1rem] lg:text-[1.3rem] font-medium rounded-sm bg-gray-400 text-neutral-900 opacity-80
}


.hero-bg {
  background-image: url('./assets/images/shop-hero-xl.webp');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 70vh;
  top: 0;
}


.testimonial::-webkit-scrollbar {
  display: none;
}

.sidebar-grid::-webkit-scrollbar {
  display: none;
}




.sidebar-filter {
  /* scrollbar-width: thin; */
  /* scrollbar-color: #000000 #ffffff; */
  /* cursor: pointer; */
}

.sidebar-filter::-webkit-scrollbar {
  width: 5px;
  /* height: 8px; */
  border-radius: 4px;
}

.sidebar-filter::-webkit-scrollbar-thumb {
  background-color: #053361;
  border-radius: 4px;
}

.sidebar-filter::-webkit-scrollbar-track {
  background-color: #F5F6F7;
  border-radius: 4px;
}


.custom-select {
  /* background-image: url('https://react-icons.github.io/react-icons/search?q=down');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}